
.categories{
  margin:5vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cate{
  display: flex;
  margin-bottom: 30px;
}
.category{
  padding: 10px;
  margin: 5px 10px;
  height: 10vh;
  width: 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.category p{
  font-size: 10px;
  text-align: center;
}
.category-name{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.icon-img{
  padding: 5px;
  height:80px;
  border-radius: 50%;
}
.lad{
  background-color: violet;
}
.men{
  background-color:lightskyblue;
}
.baby{
  background-color: pink;
}
.sofa{
  background-color:lightsalmon ;
}
.cd{
  background-color:#eedcb3 ;
}
.lego{
  background-color: lightslategray;
}
.camera{
  background-color: #b18b55;
}
.tent{
  background-color: orangered;
}
.pres{
  background-color: orchid;
}
.box{
  background-color: #3ccace;
}